---
import LikeIcon from "@components/icons/LikeIcon.astro";
import { getDealLikes, isDealLikedByUser, toggleDealLike } from "@lib/services/deal";
import logger from "@lib/services/logger";

export const partial = true;

const { id } = Astro.params;
if (!id) {
  logger.error("Can't toggle deal likes -> missing deal ID");
  return;
}

const user = Astro.locals.user;
const toggle = Astro.url.searchParams.get("toggle") === "true";

if (toggle && !user.isProUser) {
  return renderInfoTranslated("info.only_for_pro_member", user.language);
}

const likes = toggle && user.id ? await toggleDealLike(id, user.id) : await getDealLikes(id);
const isLiked = user.isProUser && user.id ? await isDealLikedByUser(id, user.id) : false;
---

<div id={`likes-${id}`} class="flex items-center gap-3">
  <button
    class="clean"
    hx-get={`/partials/deals/likes/${id}?toggle=true`}
    hx-target={`#likes-${id}`}
    hx-swap="outerHTML">
    <LikeIcon outline={!isLiked} class="h-6" />
  </button>
  <span id={`like-count-${id}`} class="text-lg">{likes}</span>
</div>
