---
import BasicUserMenu from "@components/layout/BasicUserMenu.astro";
import DealerMenu from "@components/layout/DealerMenu.astro";
import LanguageChooser from "@components/layout/LanguageChooser.astro";
import MobileMenuFooter from "@components/layout/MobileMenuFooter.astro";
import ProUserMenu from "@components/layout/ProUserMenu.astro";

export const partial = true;

const user = Astro.locals.user;
---

<div
	class="absolute right-2 top-10 z-50 select-none rounded-md border-2 border-[#232b2e] bg-dark md:hidden"
	x-transition.duration.200ms
	x-show="showMenu"
	x-cloak
	@click.outside="showMenu = false">
	<div class="flex flex-col gap-5 p-6 sm:px-3">
		{user.isDealer && <DealerMenu lang={user.language} />}
		{user.isProUser && <ProUserMenu lang={user.language} />}
		{user.isBasicUser && <BasicUserMenu lang={user.language} />}
		<LanguageChooser lang={user.language} />
		<!--<button onclick="LocationService.toggleLocationServiceSimulation();">-->
		<!--  Toggle Walk Simulator-->
		<!--</button>-->
		<MobileMenuFooter lang={user.language} />
	</div>
</div>
