---
interface Props {
	dealerId: string;
	url: string;
	index: number;
	isOwner: boolean;
}
const { dealerId, url, index, isOwner } = Astro.props;
---

<div id={`${dealerId}-${index}`} class="relative">
	{
		isOwner && (
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="2"
				class="absolute right-1 top-1 h-5 w-5 stroke-warning"
				hx-delete={`/partials/dealer/delete-image?image-url=${url}`}
				hx-target={`#${dealerId}-${index}`}
				hx-swap="outerHTML">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
				/>
			</svg>
		)
	}
	<img
		src={url}
		alt="Dealer image"
		class="h-48 w-full object-cover"
		hx-get={`/partials/dealer/image-modal-${dealerId}?index=${index}`}
		hx-target="#image-zoom-modal"
	/>
</div>
<div id="hint" hx-swap-oob="true">// empty div to remove hint when upload the first image</div>
