---
import type { User } from "@lib/models/user";
import LanguageChooser from "./LanguageChooser.astro";
import MobileMenuFooter from "./MobileMenuFooter.astro";
import DealerMenu from "./DealerMenu.astro";
import ProUserMenu from "./ProUserMenu.astro";
import BasicUserMenu from "./BasicUserMenu.astro";

interface Props {
	user: User;
}

const { user } = Astro.props;
---

<div
	class="absolute right-2 top-10 z-50 select-none rounded-md border-2 border-[#232b2e] bg-dark md:hidden"
	x-transition.duration.300ms
	x-show="showMenu"
	@click.outside="showMenu = false">
	<div class="flex flex-col gap-5 p-6 sm:px-3">
		{user.isDealer && <DealerMenu lang={user.language} />}
		{user.isProUser && <ProUserMenu lang={user.language} />}
		{!user.isProUser && !user.isDealer && <BasicUserMenu lang={user.language} />}
		<LanguageChooser lang={user.language} />
		<!--<button onclick="LocationService.toggleLocationServiceSimulation();">-->
		<!--  Toggle Walk Simulator-->
		<!--</button>-->
		<MobileMenuFooter lang={user.language} />
	</div>
</div>
